$cover-font: #800bba;
$cover-font2: #cb3c81;
$cover-font3: #CDA235;
$cover-font4: #F8F4B7;
$font-white: #fff;
$font-muted: #000;
$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin main-bg {
    background: url("/img/4.jpg");
    background-size: cover;
}

@mixin main-bg-2 {
    background: url("/img/3.jpg");
    background-size: cover;
}

@mixin main-bg-3 {
    background: url("/img/8.jpg");
    background-size: cover;
}

@mixin glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}