@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alata', sans-serif;
}

.container {
    @include flex();
    // @include main-bg();
    flex-direction: column;
    width: 100%;
    text-align: center;

    section {
        min-height: 100vh;
        max-width: 420px;
    }

    .cover-page {
        @include flex();
        @include main-bg();
        flex-direction: column;
        justify-content: flex-start;

        .cover-img {
            width: 70%;
        }

        .wedding-cover-text {
            font-size: 20px;
            color: $font-black;
            text-shadow: $text-shadow;
            margin-top: 56px;
        }

        .wedding-couple-name {
            font-family: 'Elsie Swash Caps', cursive;
            color: $cover-font;
            font-size: 56px;
            font-weight: 900;
            margin: 24px 0;
            text-shadow: $text-shadow;
        }

        .wedding-date {
            font-size: 20px;
            margin-bottom: 16px;
            color: $font-black;
            text-shadow: $text-shadow;
        }

        .open-invitation {
            font-family: 'Alata', sans-serif;
            text-decoration: none;
            color: $font-white;
            background-color: $cover-font;
            font-size: 18px;
            padding: 8px 35px;
            margin-top: 24px;
            border-radius: 32px;
            box-shadow: $text-shadow;
        }
    }

    .circle-container {
        @include flex();
        @include main-bg-2();
        width: 100%;
        .circle {
            @include flex();
            @include glass();
            width: 90%;
            height: 24rem;
            flex-direction: column;
            border-radius: 50%;

            .circle-img {
                width: 60%;
                margin-bottom: 12px;
            }
            
            .circle-text-header {
                color: $cover-font;
                font-size: 15px;
                margin-bottom: 12px;
                font-weight: bold;
            }
            
            .circle-text {
                color: $font-black;
                width: 90%;
                font-size: 12px;
            }
        }
    }

    .name-container {
        @include flex();
        @include main-bg();
        width: 100%;

        .name-card {
            @include flex();
            @include glass();
            backdrop-filter: blur(2px);
            flex-direction: column;
            border-radius: 15px;
            width: 95%;

            .circle-img {
                width: 70%;
                margin-top: 32px;
            }

            .inv-text {
                font-family: 'Shadows Into Light', cursive;
                font-size: 22px;
                font-weight: 700;
                margin-top: 16px;
            }
            
            .main-text {
                font-family: 'Elsie Swash Caps', cursive;
                color: $cover-font;
                font-size: 26px;
                font-weight: 900;
                margin: 28px 0 0 0;
                text-shadow: $text-shadow;
            }
            
            .sub-main-text1, .sub-main-text2 {
                font-weight: 300;
                font-size: 14px;
                margin-bottom: 32px;
                font-style: italic;
                width: 90%;
            }

            .sub-main-text2 {
                margin-bottom: 56px;
            }
            
            .with {
                font-family: 'Elsie Swash Caps', cursive;
                font-size: 48px;
                color: $font-black;
                text-shadow: $text-shadow;
                letter-spacing: 10px;
            }
        }
    }

    .inv-container {
        @include flex();
        @include main-bg-2();
        width: 100%;

        .inv-card{
            @include glass();
            @include flex();
            backdrop-filter: blur(2px);
            flex-direction: column;
            border-radius: 15px;
            width: 95%;

            .ring-img {
                width: 15%;
                margin-top: 16px;
            }

            .nikah-heading {
                font-family: 'Sacramento', cursive;
                font-size: 48px;
                color: $cover-font;
                text-shadow: $text-shadow;
            }

            .date {
                @include black-font();
                margin-bottom: 10px;
            }

            .time {
                @include black-font();
                margin-bottom: 32px;
            }

            .location-icon {
                @include black-font();
                margin-bottom: 10px;
                width: 90%;
                color: red;
                letter-spacing: 1.5px
            }

            .location {
                @include black-font();
                width: 90%;
                margin-bottom: 10px;
            }

            .location-image {
                width: 60%;
            }
        }
    }
}






@media screen and (max-width:380px) {
    .container {
        section {
            max-width: 380px;
        }

        .circle-container{
            .circle {
                width: 95%;
                height: 22rem;
            }

            .circle-text-header {
                font-size: 13px;
            }

            .circle-text {
                font-size: 11px;
            }
        }
    }
}
